body {
    font-family: 'Noto Sans TC', sans-serif;
}

.container{
    /* 把頁面固定在75%正中間不會因為縮放跑掉 */
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

/* 建立基本按鈕 */
.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn-orange{
    color: seashell;
    background-color: rgb(226, 123, 26);
    border-color: rgb(226, 123, 26);
}

.btn-orange:hover{
    color: seashell;
    background-color: orangered;
    border-color: orangered;
    cursor: pointer;
}

.btn-blue{
    color: seashell;
    background-color: rgb(19, 89, 200);
    border-color: rgb(19, 89, 200);
}

.btn-blue:hover{
    color: seashell;
    background-color: blue;
    border-color: blue;
    cursor: pointer;
}

.btn-pink{
    color: seashell;
    background-color: rgb(224, 26, 132);
    border-color: rgb(224, 26, 132);
}

.btn-pink:hover{
    color: seashell;
    background-color: pink;
    border-color: pink;
    cursor: pointer;
}

.btn-lg{
    padding: 0.2rem, 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.5rem;

}

/* .col{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} */

/* 頁面結構區 */
/* NavBar導覽列---------------------------------------------- */
#navbar{
    width: 100%;
    background: black;
    line-height: 3.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) ;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
}
/* logo */
#navbar .logo{
    float: left;
    font-size: 2rem;
    margin-left: 2rem;
}

#navbar .logo a{
    color: seashell;
    text-decoration: none;
}

#navbar .logo a:hover{
    font-size: 3rem;
    color: rgb(230, 107, 19);
    text-decoration: none;
}
/* menu */
#navbar .menu{
    /* float: left; */
    margin-left: 3rem;
}

#navbar .menu li{
    float: left;
}

#navbar .menu a{
    font-size: 1.2rem;
    color: seashell;
    text-decoration: none;
    padding: 0 1.3rem;
}

#navbar .menu a:hover{
    font-size: 1.5rem;
    font-weight: bolder;
    outline: 1px solid #dcc803;
    background: linear-gradient(73deg, #dcc803, #0f0);
    /* 遮色片 */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

#navbar .menu i{
    /* background: linear-gradient(73deg, #dcc803, #0f0);
    -webkit-background-clip: text;
    background-clip: text;
    color: white; */
}

#navbar .menu a:hover i{
    font-size: 1.5rem;
    background: linear-gradient(73deg, #dcc803, #0f0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* search */

#navbar .search{
    float: right;
    margin-right: 1rem;
}
/* 把搜尋跟搜尋文字蘭和在一起 */
#navbar .search form{
    font-size: 0;
}

#navbar form input,
#navbar form button{
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: middle;
}

#navbar form button{
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0 10rem 10rem 0;
}

#navbar form input{
    height: 2rem;
    width: 12rem;
    border-radius: 10rem 0 0 10rem;
}
/* 偽元素 */
input::placeholder{
    padding-left: 1rem;
}

input[type="search"]:focus{
    box-shadow:inset 0 0 10px #0f0;
    filter: drop-shadow(0 0 10px rgb(28, 28, 172));
}
/* jubotron大螢幕---------------------------------------------- */
#jumbotron{
    width: 100%;
    color: white;
    background-image:linear-gradient(to right,#000 0%, transparent 15%, transparent 85%, #000 100%), url("https://picsum.photos/1920/400/?random=1");
    background-repeat: none;
    background-position: left top;
    background-size: cover;
    padding: 10rem 0;
    margin-top: 3.5rem;
    text-shadow: 2px 2px 2px #000, 2px 2px 2px #afafaf;
}

#jumbotron h1{
    font-size: 3rem;
    line-height: 1.5;
}
/* design------------------------------------------------ */

#design h1{
    font-size: 3rem;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0 1rem 0.5rem 0;
}

#design h2{
    font-size: 2rem;
    margin: 0 1rem 1rem 0rem;
    padding: 0 1rem 0.5rem 0;
    border-bottom: 1px solid #afafaf;
}

#design .container{
    /* display: inline-block 需要設定font-size: 0; 才行 */
    font-size: 0;
    
}

#design .col{
    font-size: 1rem;
    width: 30.3%;
    display: inline-block;
    /* padding+border都會計算在width，只考慮盒子width、margin設定 */
    box-sizing: border-box;
    margin: 0 1.5%;
    padding: 1rem;
    border: 1px solid #afafaf;
    transition: 0.5s;
    position: relative;
}

#design .col img{
    width: 100%;
}

#design .col p{
    padding: 1rem 0;
}

#design .col:hover{
    transform: rotate(20deg);
    transform: translatey(-1rem);
    box-shadow: 2px 2px 5px #000;
}

#design .col .close{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 0;
}

#design .col .close:hover{
    cursor: pointer;
    background: red;
}

/* profile */

#profile{
    overflow: hidden;
    padding: 2rem 0;
}

#profile .col{
    width: 50%;
    float: left;
}

#profile .col img{
    width: 100%;
}

#profile h1{
    font-size: 2rem;
    margin: 0 1rem 2rem 0;
    padding: 0 1rem 1rem 1rem;
}

#profile h2{
    font-size: 1.5rem;
    padding: 1rem;
}

#profile .col p{
    padding: 1rem;
    line-height: 1.2;
}

/* footer */

#footer{
    width: 100%;
    background: #000;
    color: white;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
}


