<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newitem" @keydown.enter='add' :style="{border:'2px solid '+ borderColor}">
        <input type="button" value="新增" @click='add'>
        <ul>
            <li v-for="(item, index) in items">
                <input type="checkbox" :checked="item.done" @change="toggle(item)">
                <span v-if="item.done">{{item.text}}</span>
                <del v-else>{{item.text}}</del>
                <input type="button" value="x" @click="del(index)">
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            name: 'app',
            data: {
                newitem: '',
                items: []
            },
            methods: {
                add() {
                    if (this.newitem.length > 2) {
                        this.items.push({ done: true, text: this.newitem })
                        this.newitem = ''
                    }
                },
                toggle(item) {
                    item.done = !item.done
                },
                del(index) {
                    this.items.splice(index, 1)
                }
            },
            computed: {
                borderColor() {
                    if (this.newitem.length <= 2 && this.newitem.length !== 0) {
                        return 'red'
                    }
                    else if (this.newitem.length > 2) {
                        return 'blue'
                    }
                    else {
                        return 'black'
                    }
                }
            },
            watch: {
                newitem(newValue, oldValue) {
                    console.log('東西改變ㄌ');

                },
                items: {
                    deep: true,
                    handler(newValue, oldValue) {
                        localStorage.setItem('todo', JSON.stringify(this.items))
                    }
                }
            },
            mounted() {
                const data = localStorage.getItem('todo')
                if (data !== null) {
                    this.items = JSON.parse(data)
                }
            }
        })
    </script>
</body>

</html>