$black: #000000 !important;
$white: #ffffff !important;
$primary: #007bff !important;
$secondary: #6c757d !important;
$success: #28a745 !important;

$h1:40px;
$h2:30px;
$h3:20px;
$h4:16px;
$h5:14px;
$h6:12px;

$fontBaseSize:16px;

$lineHeightLevel:1.4;

$space1:0.25rem;
$space2:0.5rem;
$space3:1rem;
$space4:1.5rem;
$space5:3rem;

$breakpoint_sm:576px;
$breakpoint_md:768px;
$breakpoint_lg:992px;
$breakpoint_xl:1200px;